/*-------------------------------------------Footer-------------------------------------------*/
.footer {
  position: fixed; 
  bottom: 50px; 
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links h2 {
  margin-bottom: 30px; 
}

.social-links p {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  font-size: 36px;
  width: 259px; 
  line-height: 100%;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 40px; 
}

.icon-container {
  position: relative; 
  width: 50px;
  height: 50px;
}

.background-icon {
  width: 50px; 
  height: 50px; 
  object-fit: cover;
}

.overlay-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%; 
  height: 50%;
  object-fit: contain;
  transform: translate(-50%, -50%);
  z-index: 1;
}
/*-------------------------------------------------------------------------------------------*/
/*------------------------------------------- Header -------------------------------------------*/
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.header-title {
  position: absolute;
  top: 50px;
  left: 165px;
  width: 94px;
  height: 24px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #8643DC;
}

.rectangle {
  position: absolute;
  top: 94px; 
  left: 165px;
  width: 50px;
  height: 2px;
  background: #8643DC;
}

.contact-text {
  position: absolute;
  top: 95px; 
  left: 165px;
  width: 512px;
  height: 156px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 52px;
  letter-spacing: 0%;
  color: #21232D;
}


.email {
  position: absolute;
  top: 104px;
  left: 1052px;
  width: 223px;
  height: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: lowercase;
  text-decoration: underline solid;
  color: #8643DC;
}

/*-------------------------------------------------------------------------------------------*/
/*------------------------------------------- Contact Form -------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/